# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
target/classes/META-INF/
target/classes/designMode/
target/classes/principle/
target/generated-sources/
target/generated-test-sources/
